{% extends 'vote/base.html' %}
{% load staticfiles %}
{% block js %}
    {{ block.super }}
    <script src="{% static 'vote/js/raphael.js' %}"></script>
    <script src="{% static 'vote/js/color.jquery.js' %}"></script>
    <script src="{% static 'vote/js/jquery.usmap.js' %}"></script>
    <script src="{% static 'vote/js/load.states.js' %}"></script>
{% endblock %}

{% block title %} Register! {% endblock %}

{% block body_block %}
    <h1 style="display:inline-block;">Select Your State: </h1>
    <h2 id="state_name" style="display:inline-block; padding-left: .5em;"></h2>
    <div id="alert"></div>
    <div id="map" style="width: 800px; height: 600px;"></div>
{% endblock %}